<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add new cat</title>
  </head>
  <body>
    <form class="" action="/cats" method="post">
      <label for="name">Name: <input type="text" name="name"></label>
      <label for="age">Age: <input type="number" name="age" min="1" max="30"></label>
      <label for="color">Color: <input type="text" name="color"></label>
      <input type="submit" name="" value="Add new cat">
      <a href="/"><button type="button" name="button">Cancel</button></a>
    </form>
  </body>
</html>
